<form action="/bookmarks/<%= @bookmark[0].id %>" method="post">
  <input type='hidden' name='_method' value='patch'/>
  <input type='text' placeholder='<%= @bookmark[0].url %>' name='url'>
  <input type='text' placeholder='<%= @bookmark[0].title %>' name='title'>
  <input type='submit' name='Submit'>
</form>
